html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rosybrown;
}


header{
   background-color: rosybrown;
   float: left;
   width: 100%;
   height: 15%;
}

header img{
    float: left;
    height: 80%;
    margin: 1%;
    
}

header h1{
    float: left;
    width: 75%;
    text-align: center;
    background: #c1dac3;
}

.connect_status{
    float: right;
    width: 15%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

#btnNav{
    position: absolute;
    right: 3%;
    top: 11%;
}

nav{
top: 15%;
left: -20%;
position: absolute;
background-color: rgb(212, 62, 95);
font-weight: bold;
/*float: left;*/
width: 20%;
height: 90%;
transition: 800ms;
}

nav span{
    display: block;
    width: 10%;
    padding: 7%;
    margin-left: 100%;  
}

nav span img{
    width: 100%;
}

nav ul{
background: palevioletred;
list-style: none;
margin: 0;
padding: 0;
}

nav ul li a{
 display: block;
 border: 1px solid gray;
 font-size: 22px;
 color: white;
 text-align: center;
 text-decoration: none;
 background: pink;
 margin: 1%;
 padding: 1%; 
}

nav ul li a:hover{
    background-color: palevioletred;
    font-size: 30px;
    transition: 2s;
}

.content{
    background-color: rgb(232, 213, 184);
    float: left;
    width: 100%;
    height: auto;
}

.article{
    float: left;
    width: 90%;
    border: 2px solid none;
    border-radius: 5px; 
    margin: 2%;
    background: pink;
    
}

.article img{
    float: left;
    width: 20%;
    margin: 5%;
}

.article h2{
    float: right;
    width: 70%;
    margin: 1%;
    background: #c1dac3;
}

.article p{
    float: left;
    width: 60%;
    margin: 1%;
    height: 80px;
    border: 1px solid gray;
}

.article button{
    float: right;
    margin-right: 6%;
}

.article2{
    width: 28%;
    float: left;
    border: 2px solid none;
    border-radius: 15px; 
    background-color: #5795e0ef;
    margin: 2%;
}

.article2 img{
    width: 80%;
    margin-left: 10%;
}

.article2 h2{
    width: 100%;
    text-align: center;
    margin: 0;
}

.article2 p,.article button{
    display: none;
}


footer{
    background-color: beige;
    float: left;
    width: 100%;
    height: 10%;
}

footer p{
    background: #c1dac3;
    text-align: center;
    font-size: 18px;
}

.img_container{
    float: left;
    width: 100%;
    background-color: aquamarine;
}

.row_space_between{
    display: flex;
    justify-content: space-around;
    /*width: 100%;*/
    padding-top: 2%;
    padding-bottom: 2%;
}

.column_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img_container img{
    width: 20%;
}


.art_info1 {
    width: 40%;
    background-color: rosybrown;
    
}

.art_info2 {
    width: 40%;
    background-color: pink;
}

/*form style*/
.form_register{
    display: flex;
    justify-content: center;
    margin: 2%;
}


.input_success{
    border: green 2px solid;
    background: rgba(33, 155, 33, 0.95);
}


.input_error{
    border: red 2px solid;
    background: rgb(212, 47, 47);
}



@media screen and (max-width: 400px) {
header h1{
    display: none;
}

header{
    display: flex;
    justify-content: center;
}


.article h2{
    width: 90%;
    text-align: center;
}

.content{
    background: yellow;
    width: 100%;
}

.article img, .article p{
    width: 90%;
    margin: 5%;
}

.article button{
    display: none;
}

nav{
    display: none;
}

}

